@font-face {
  font-family: 'Bristol';
  src: url('./fonts/Bristol.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.font-bristol {
  font-family: 'Bristol', sans-serif !important;
}

:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
